<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ajdesfinal?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="pojos/Product.hbm.xml"/>
    <mapping resource="pojos/Casetype.hbm.xml"/>
    <mapping resource="pojos/Gendertype.hbm.xml"/>
    <mapping resource="pojos/Analogdigital.hbm.xml"/>
    <mapping resource="pojos/Casesize.hbm.xml"/>
    <mapping resource="pojos/Clientpointalgo.hbm.xml"/>
    <mapping resource="pojos/Straptype.hbm.xml"/>
    <mapping resource="pojos/Maincolor.hbm.xml"/>
    <mapping resource="pojos/Supplierverificationcode.hbm.xml"/>
    <mapping resource="pojos/Comment.hbm.xml"/>
    <mapping resource="pojos/Recoverquestion.hbm.xml"/>
    <mapping resource="pojos/SupplierHasStock.hbm.xml"/>
    <mapping resource="pojos/Invoice.hbm.xml"/>
    <mapping resource="pojos/Supplierlogin.hbm.xml"/>
    <mapping resource="pojos/Deliverydistrict.hbm.xml"/>
    <mapping resource="pojos/Weight.hbm.xml"/>
    <mapping resource="pojos/Clientlogin.hbm.xml"/>
    <mapping resource="pojos/Profit.hbm.xml"/>
    <mapping resource="pojos/Strapcolor.hbm.xml"/>
    <mapping resource="pojos/Cart.hbm.xml"/>
    <mapping resource="pojos/Supplierpayment.hbm.xml"/>
    <mapping resource="pojos/Adminlogginsession.hbm.xml"/>
    <mapping resource="pojos/Interfaces.hbm.xml"/>
    <mapping resource="pojos/SupplierHasDeliverydistrict.hbm.xml"/>
    <mapping resource="pojos/Gender.hbm.xml"/>
    <mapping resource="pojos/Agelimit.hbm.xml"/>
    <mapping resource="pojos/Watchlist.hbm.xml"/>
    <mapping resource="pojos/Supplierloggingsession.hbm.xml"/>
    <mapping resource="pojos/Recoverquestionstatus.hbm.xml"/>
    <mapping resource="pojos/Advertisement.hbm.xml"/>
    <mapping resource="pojos/Adminlogin.hbm.xml"/>
    <mapping resource="pojos/Dialcolor.hbm.xml"/>
    <mapping resource="pojos/Deliveryitem.hbm.xml"/>
    <mapping resource="pojos/Deliverystatus.hbm.xml"/>
    <mapping resource="pojos/Adminprivilages.hbm.xml"/>
    <mapping resource="pojos/Watchshape.hbm.xml"/>
    <mapping resource="pojos/ClientHasRecoverquestion.hbm.xml"/>
    <mapping resource="pojos/Supplier.hbm.xml"/>
    <mapping resource="pojos/CartHasStock.hbm.xml"/>
    <mapping resource="pojos/Grade.hbm.xml"/>
    <mapping resource="pojos/SupplierHasDeliverydistrictHasStock.hbm.xml"/>
    <mapping resource="pojos/InvoiceHasStock.hbm.xml"/>
    <mapping resource="pojos/Mainaccount.hbm.xml"/>
    <mapping resource="pojos/Stock.hbm.xml"/>
    <mapping resource="pojos/Sliderdetails.hbm.xml"/>
    <mapping resource="pojos/Posttype.hbm.xml"/>
    <mapping resource="pojos/Userstatus.hbm.xml"/>
    <mapping resource="pojos/Supplierprivilages.hbm.xml"/>
    <mapping resource="pojos/Brand.hbm.xml"/>
    <mapping resource="pojos/Loginstatus.hbm.xml"/>
    <mapping resource="pojos/SupplierHasRecoverquestion.hbm.xml"/>
    <mapping resource="pojos/Packaging.hbm.xml"/>
    <mapping resource="pojos/Clientprivilages.hbm.xml"/>
    <mapping resource="pojos/Client.hbm.xml"/>
    <mapping resource="pojos/Deliverynotice.hbm.xml"/>
    <mapping resource="pojos/Subcategories.hbm.xml"/>
    <mapping resource="pojos/Ownerprofit.hbm.xml"/>
    <mapping resource="pojos/Waterresistency.hbm.xml"/>
    <mapping resource="pojos/Userverificationcode.hbm.xml"/>
    <mapping resource="pojos/Productstatus.hbm.xml"/>
    <mapping resource="pojos/ProductHasSubcategories.hbm.xml"/>
    <mapping resource="pojos/Clientlogginsession.hbm.xml"/>
    <mapping resource="pojos/Sitedetails.hbm.xml"/>
    <mapping resource="pojos/Movement.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
